pyzx>=0.8.0
networkx~=3.1
numpy~=1.25.2
pytest-qt~=4.2.0
PySide6~=6.7.2,
shapely~=2.0.1
shapely-stubs @ git+https://github.com/ciscorn/shapely-stubs.git
pyperclip>=1.8.1
mypy
pylint
pyproject-flake8
sphinx>=2.3,<7  # see: https://github.com/readthedocs/readthedocs.org/issues/10279
sphinx_autodoc_typehints>=1.10
sphinx_rtd_theme>=0.4
sphinxcontrib-svg2pdfconverter>=1.2.2
myst-parser>=3.0.0
imageio
openai
pydub
sounddevice
ffmpeg-python