name: deploy

on:
  push:
#    tags:
#      - '*'

env:
  SRC_DIR: zxlive

jobs:
  build_and_deploy:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
#        os: [ ubuntu-latest ]
        python-version: [ 3.11 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install base package
        run: pip install cx_freeze
      - name: Build MacOS
#        if: matrix.os == 'ubuntu-latest'
        run: python deploy.py build
      - name: Upload build
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.os }}
          path: build/*
