name: test

on:
  push:
    branches:
      - 'main'
  pull_request:

env:
  SRC_DIR: zxlive
  TEST_DIR: test

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.9 ]
    env:
      DISPLAY: ':99.0'
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Setup QtLibs
      uses:  # See https://pytest-qt.readthedocs.io/en/latest/troubleshooting.html#github-actions
        tlambert03/setup-qt-libs@v1
    - name: Setup Ubuntu
      run:   # See https://pytest-qt.readthedocs.io/en/latest/troubleshooting.html#github-actions
        /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1920x1200x24 -ac +extension GLX
    - name: Install dependencies
      run:
        pip install ".[test]"
    - name: pytest
      run:
        pytest ${{ env.TEST_DIR }}
