name: test

on:
  push:

env:
  SRC_DIR: zxlive

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.9 ]
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install dependecies
      run: |
        sudo apt install -y xvfb x11-utils libxkbcommon-x11-0
        pip install ".[test]"
    - name: Flake8
      continue-on-error: true
      run:
        pflake8 zxlive
    - name: Pylint
      continue-on-error: true
      run:
        pylint zxlive
    - name: mypy
      continue-on-error: true
      run:
        mypy zxlive
    - name: pytest
      run:
        pytest
